.MuiStack-root.about-component {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}

.MuiStack-root.about-component-inner {
  display: flex;
  flex-direction: column;
}

.MuiStack-root.about-component-inner2 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}
