@import "tailwindcss";

:root {
  color: rgb(255, 255, 255);
  line-height: 1.5;
  font-size: 1rem;
  font-family: __Poppins_4de79c, __Poppins_Fallback_4de79c, Helvetica, Arial, sans-serif;
  font-weight: 400;
  --primary-bg: rgba(18, 24, 31, 0.6);
  background-color: var(--primary-bg);
}
